<librec-auto>
	<random-seed>202001</random-seed>
	<thread-count>1</thread-count>
	<data>
		<data-dir>../../ML-experimentation/data</data-dir>
		<format>UIR</format>
		<data-file format="text">Veena_ML26_rating.csv</data-file>
	</data>
	
	
	<splitter>
		<model count="3">kcv</model>
		<dim>userfixed</dim>
		<ratio>0.8</ratio>
		<save>true</save>
	</splitter>
	
	
	
	<alg>
		<class>rankals</class>
		<learn-rate>0.01</learn-rate>
		<learn-rate-max>0.01</learn-rate-max>
		<learn-rate-decay>1.0</learn-rate-decay>
		<bold-driver>false</bold-driver>
		<iterator-max>12</iterator-max>
		<user-reg>0.01</user-reg>
		<item-reg>0.01</item-reg>
		<num-factors>50</num-factors>
		<support-weight>true</support-weight>
	</alg>

	
	<metric>
		<ranking>true</ranking>
		<list-size>10</list-size>
		<class>ndcg,precision,recall</class>
	</metric>
	
	
	<post>
		<script lang="python3" src="system">
			<script-name>results_to_csv.py</script-name>
			<param name="option">all</param>
		</script> 

		<script lang="python3" src="system">
			<script-name>result_graphics.py</script-name>
			<param name="browser">true</param>
		</script> 

		<script lang="python3" src="system">
			<script-name>slack_post.py</script-name>
			<param name="option">message</param>
			<param name="channel">la_bot</param>
			<param name="encrypted_key">../keys/slack-api.enc</param>
			<param name="message">Experiment complete</param>
			<param name="password"/>
		</script> 

		<script lang="python3" src="system">
			<script-name>slack_post.py</script-name>
			<param name="option">file</param>
			<param name="channel">la_bot</param>
			<param name="encrypted_key">../keys/slack-api.enc</param>
			<param name="file">post/viz-bar-NormalizedDCG.jpg</param>
			<param name="message">NDCG for the experiment</param>
			<param name="password"/>
		</script> 
	</post> 
<!--This configuration file was automatically generated by librec-auto. Editing may produce unpredictable results and is not recommended.--></librec-auto>
